{% extends 'base.html' %}


{% block content %}
<h2>Skills</h2>
<p><strong>Programming Languages:</strong></p>
<ul>
<li>Python (Flask, basic scripting)</li>
<li>Java (OOP, collections)</li>
<li>JavaScript</li>
</ul>


<p><strong>Computer Science Concepts:</strong></p>
<ul>
<li>Object-Oriented Programming</li>
<li>Data Structures</li>
<li>Problem Solving and Debugging</li>
</ul>


<p><strong>Web Development:</strong></p>
<ul>
<li>HTML5 & CSS3</li>
<li>Flask</li>
</ul>
{% endblock %}